/* Each Article Setting */
article {
  padding-top : 2px;
  border-top : 1px solid #f7f7f7;
  width: 100%;
}

.article-container {
  display: table;
  text-align: center;
}

.article-title-container {
  display: table-cell;
  width: 191px;
  overflow: hidden;
  height: 2em;
  text-align: left;
  vertical-align: middle;
}

.article-data-container {
  height: 2em;
  overflow: hidden;
  display: block;
  width: auto;
  vertical-align: middle;
  text-align: left;
}

.article-metadata-container {
  display: table-cell;
  width: 121px;
  text-align: right;
  vertical-align: middle;
}

.article-actions-container {
  display: table-cell;
  width: 110px;
  vertical-align: middle;
  text-align: center;
}

.article-data-description , .column-description {
  line-height: 2em;
  vertical-align: middle;
}

.article-data-description > span:nth-child(1) {
  font-weight: bold
}

/* article expanded setting*/
.article-expand-container {
  text-align: center;
  border: 1px solid #f7f7f7;
  padding : 6px;
  border-radius: 10px !important
}

.article-image-container img{
    height: 300px;
}

.article-expand-descp {
  text-align: left;
  margin-top : 10px;
}
