/* Make Static Sidebar*/
#left-panel-container {
  width: 270px;
  position: absolute;
  height : 100%;
  background-color: #585858;
  color : white;
}

/**/
ul {
  list-style-type : none;
  padding : 0%;
  width : 100%;
}

/*Making distanace between outer li's*/
#left-panel > li {
  padding-top : 2%;
  font-family :'Fjord One' , seif;
  font-size: 17px;
}

/*Make distance between Images and Categories*/
#left-panel > li:first-child  {
  margin-bottom : 14%;
  text-align: center;
  font-family: 'Bree Serif', seif;
}

/*Make distance between AddNewButton and Categories*/
#left-panel > li:nth-child(3){
  position: relative;
  margin-top: 350px;
}

#left-panel li a {
  width : 100%;
  text-align: left;
}

/* Making links looks better */
.button {
  margin-top : 1%;
  padding-top : 2%;
  padding-left: 12%;
  padding-bottom: 2%;
  background: #FF9009;
}

/* Medium Displays */
@media (max-width: 992px) {
  #left-panel {
      margin-top: 90px;

  }
}

/*Small Displays*/
@media (max-width: 768px) {
  #left-panel-container {
    display : none;
  }
}
